.title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  color: #101828;
  text-align: start !important;
  line-height: 32px;
}

.sub-title {
  font-size: 14px;
  line-height: 24px;
  color: #667085;
  text-align: start;
  margin-bottom: 32px;
  font-weight: 400;
}

.text-decoration-underline-animate {
  text-decoration: none;
  transition: 0.3s ease;
  &:hover {
    text-decoration: underline;
  }
}