<div class="page-section">
  <div class="login-container">
    <div class="wrap-login">
      <form [formGroup]="form" class="login-form py-5 px-4" (ngSubmit)="onSubmit()" @fadeAnimation>
        <div class="login-form-title">
          <h5 class="title">Forgot Password</h5>
          <p class="mt-2 sub-title">Enter your email address to reset password</p>
        </div>

        <div class="form-group mb-2">
          <label for="" class="font-normal fz-14 ">Email address</label>
          <div class="group-input">
            <input 
              [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched"
              class="form-control" 
              formControlName="email" 
              name="email" 
              placeholder="Email" 
              type="email" />
            <div *ngIf="(form.get('email')?.invalid && form.get('email')?.touched) || form.get('email')?.dirty">
              <mat-error *ngIf="form.get('email')?.errors?.['required']">Email address is required</mat-error>
              <mat-error *ngIf="form.get('email')?.errors?.['email']">Email address is invalid</mat-error>
            </div>
          </div>
        </div>

        <div class="form-button mt-9">
          <app-native-button type="submit" name="Recover Password" class="font-medium fz-18 w-100" buttonClass="btn btn-primary w-100"
            [block]="true" [submitting]="loading">
          </app-native-button>
        </div>

        <div class="w-full  mt-4">
          <a [routerLink]="['/login']" routerLinkActive="router-link-active"
            class="fz-16 font-normal text-decoration-underline-animate" style="color: #6938EF">
            Back to Log in
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
