<div class="page-section changepassword-page">
  <div class="login-container">
    <div class="wrap-login">
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="onFormSubmit()"
        class="login-form py-5 px-4"
        @fadeAnimation
      >
        <ng-template #inProcessNgTemp>
          <div class="login-form-title">
            <h5 class="title">Reset Password</h5>
            <p class="sub-title">Create a new password to proceed</p>
          </div>

          <div class="col-md-12 form-group mb-3">
            <label for="" class="font-normal fz-14">Password</label>
            <div class="group-input">
              <input
                [class.is-invalid]="
                  changePasswordForm.get('password')?.invalid &&
                  changePasswordForm.get('password')?.touched
                "
                class="form-control"
                placeholder="Password"
                formControlName="password"
                name="password"
                [type]="type"
                (focus)="showPasswordHints = true"
                (blur)="showPasswordHints = false"
              />
              <span class="pwd">
                <span (click)="toggleType()" class="material-icons-outlined">
                  {{ type == "password" ? "visibility" : "visibility_off" }}
                </span>
                
              </span>
              <div
                *ngIf="
                  (changePasswordForm.get('password')?.invalid &&
                    changePasswordForm.get('password')?.touched) ||
                  changePasswordForm.get('password')?.dirty
                "
              >
                <mat-error
                  *ngIf="changePasswordForm.get('password')?.errors?.['required']"
                  >Password is required</mat-error
                >
                <mat-error
                  *ngIf="changePasswordForm.get('password')?.errors?.['invalid']"
                  >Password is invalid</mat-error
                >
              </div>
            </div>
           <div [class.show]="showPasswordHints" class="mt-2 password-hint">
          

              <!-- password length -->
              <div
                [ngClass]="{
                  'password-entry--invalid':
                    passwordLengthError || passwordRequiredError,
                  'password-entry--valid':
                    !passwordLengthError && !passwordRequiredError
                }"
                class="password-entry"
              >
                <span
                
                  class="material-icons"
                  [textContent]="
                    passwordLengthError || passwordRequiredError
                      ? 'cancel'
                      : 'check_circle'
                  "
                >
                </span>
                <span class="text">
                  {{
                    passwordRequiredError
                      ? "A minimum of 12 characters"
                      : "A minimum of 12 characters"
                  }}
                </span>
              </div>
              <!-- UpperLetter check -->
          <div
                [ngClass]="{
                  'password-entry--invalid':
                    passwordCapitalCaseError || passwordRequiredError,
                  'password-entry--valid':
                    !passwordCapitalCaseError && !passwordRequiredError
                }"
                class="password-entry"
              >
                <span
                 
                  class="material-icons"
                  [textContent]="
                    passwordCapitalCaseError || passwordRequiredError
                      ? 'cancel'
                      : 'check_circle'
                  "
                >
                </span>
                <span class="text">
                  {{
                    passwordRequiredError
                      ? "At least one uppercase letter"
                      : "At least one uppercase letter"
                  }}
                </span>
              </div>
             <!-- Number check -->
               <div
                [ngClass]="{
                  'password-entry--invalid':
                    passwordNumberError || passwordRequiredError,
                  'password-entry--valid':
                    !passwordNumberError && !passwordRequiredError
                }"
                class="password-entry"
              >
                <span
                 
                  class="material-icons"
                  [textContent]="
                    passwordNumberError || passwordRequiredError
                      ? 'cancel'
                      : 'check_circle'
                  "
                >
                </span>
                <span class="text">
                  {{
                    passwordRequiredError
                      ? "At least one Number"
                      : "At least one Number"
                  }}
                </span>
              </div>
              <!-- Special Casse -->
              <div
                [ngClass]="{
                  'password-entry--invalid':
                    passwordSpecialCharactersError || passwordRequiredError,
                  'password-entry--valid':
                    !passwordSpecialCharactersError && !passwordRequiredError
                }"
                class="password-entry"
              >
                <span
                
                  class="material-icons"
                  [textContent]="
                    passwordSpecialCharactersError || passwordRequiredError
                      ? 'cancel'
                      : 'check_circle'
                  "
                >
                </span>
                <span class="text">
                  {{
                    passwordRequiredError
                      ? "At least one special character is required"
                      : "At least one special character"
                  }}
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12 form-group">
            <label for="" class="font-normal fz-14">Confirm Password</label>
            <div class="group-input">
              <input
                [class.is-invalid]="
                  changePasswordForm.get('confirmPassword')?.invalid &&
                  changePasswordForm.get('confirmPassword')?.touched
                "
                class="form-control"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                name="password"
                [type]="type"
              />
              <span class="pwd">
                <span (click)="toggleType()" class="material-icons-outlined">
                  {{ type == "password" ? "visibility" : "visibility_off" }}
                </span>
              </span>
              <div
                *ngIf="
                  (changePasswordForm.get('confirmPassword')?.invalid &&
                    changePasswordForm.get('confirmPassword')?.touched) ||
                  changePasswordForm.get('confirmPassword')?.dirty
                "
              >
                <mat-error
                  *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']"
                  >Confirm Password is required</mat-error
                >
                <mat-error
                  *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['invalid']"
                  >Confirm Password is invalid</mat-error
                >
                <mat-error *ngIf="changePasswordForm.getError('notmatched')"
                  >Passwords do not match</mat-error
                >
              </div>
            </div>
          </div>

          <div class="form-button mt-8">
            <app-native-button
              class="w-100 font-medium fz-18"
              buttonClass="btn btn-primary w-100"
              name="Reset Password"
              type="submit"
              [block]="true"
              [submitting]="loading"
            ></app-native-button>
          </div>

       
        </ng-template>
        <ng-container *ngIf="completed; else inProcessNgTemp">
          <app-custom-alert
            [callback]="onProcessCompleted"
            [title]="alertTitle"
            [message]="alertMessage"
            [alertType]="alertType"
            buttonName="Proceed to account"
          ></app-custom-alert>
        </ng-container>
      </form>
    </div>
  </div>
</div>
